@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100%;
  margin: 0 auto;
  align-content: center;
  min-height: 100vh;
}
.sidebar a {
  text-decoration: none;
}
.sidebar-nav ul li > a {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border-radius: 0.35rem;
}
.sidebar-nav ul li > a:hover {
  background-color: #33334d;
}