@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100%;
  margin: 0 auto;
  align-content: center;
  min-height: 100vh;
}
.sidebar a {
  text-decoration: none;
}
.sec-two {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.loader01 {
  background-color: #2a3b39;
  animation: loader0 1.2s infinite ease-in-out;
}
.loader02 {
  position: relative;
  box-shadow: 0 1em 0 -0.2em #ffffff83;
  animation: loader00 0.8s ease-in-out alternate infinite;
  animation-delay: 0.32s;
  top: -1em;
  &:after,
  &:before {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    box-shadow: inherit;
    border-radius: inherit;
    animation: inherit;
  }
  &:before {
    left: -1.2em;
    animation-delay: 0.48s;
  }
  &:after {
    right: -1.2em;
    animation-delay: 0.16s;
  }
}

@keyframes loader0 {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
@keyframes loader00 {
  0% {
    box-shadow: 0.2em 0 -0.2em #fcfcfc;
  }
  100% {
    box-shadow: 0 1em 0 -0.2em #fcfcfc;
  }
}

@media (max-width: 900px) {
  .sec-two {
    flex-direction: column;
    gap:1.5rem;
  }
}
