@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100%;
  margin: 0 auto;
  align-content: center;
  min-height: 100vh;
}
.sidebar a {
  text-decoration: none;
}
.sidebar-nav ul li > a {
  display: flex;
  align-items: center;
  padding-inline: 0.5rem;
  padding-block: 0.7rem;
  gap: 0.6rem;
  border-radius: 0.35rem;
}
.sidebar-nav ul li > a:hover {
  background-color: #425c5a;
}
.loader {
  background-color: #2a3b39;
  animation: loader 1.2s infinite ease-in-out;
}
@keyframes loader {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
